<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Damian Dziura Portfolio</title>
    @Styles.Render("~/Content/css")
    @RenderSection("AdditionalCss", false)
</head>
<body>

    <div class="container-fluid p-0 m-0 h-100">
        @Html.Partial("_NavigatePartialView")
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
