@using Microsoft.AspNet.Identity
<nav>
    <div class="logo">
        <img src="../../Assets/img/logo.png" alt=""/>
    </div>
    <div class="mini-logo">
        <img src="../../Assets/img/mini_logo.png" alt=""/>
    </div>

    <ul>
        <li>
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i><em>Strona główna</em></a>
        </li>
        <li>
            <a href="@Url.Action("Index", "AboutMe")"><i class="fa fa-user"></i><em>O mnie</em></a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Project")"><i class="fas fa-project-diagram"></i><em>Projekty</em></a>
        </li>
        <li>
            <a href="#"><i class="fas fa-file-alt"></i><em>CV</em></a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Contact")"><i class="fa fa-envelope"></i><em>Kontakt</em></a>
        </li>
        @if (Request.IsAuthenticated)
        {
         
            <li>
                <a href="@Url.Action("Dashboard", "AdministratorPanel")"><i class="fas fa-tools"></i><em>Panel administratora</em></a>
            </li>
            
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()

                <li>
                    <a href="javascript:{}" onclick="document.getElementById('logoutForm').submit();"><i class="fas fa-power-off"></i><em>Wyloguj: @Html.Name(User.Identity.GetUserName())</em></a>
                </li>
            }
        }
        else
        {
            <li>
                <a href="@Url.Action("Login", "Account")"><i class="fas fa-sign-in-alt"></i><em>Zaloguj</em></a>
            </li>

        }
    </ul>
</nav>
