@model PortfolioMVC5v3.Models.MainPage
@{
    ViewBag.Title = "Strona główna";
}

@section AdditionalCss
{
    <style>
        .slide {
            background: linear-gradient(0, rgba(40, 38, 43, 0.85), rgba(40, 38, 43, 0.85)), url(/assets/backgrounds/first-bg.png) no-repeat center center fixed !important;
            background-size: cover;
            width: 100%;
        }
    </style>
}

<div class="slide">
    <div class="content home-content">
        <div class="container-fluid">
            <div class="col-md-3">
                <div class="author-image"><img src="@Html.Raw(string.IsNullOrEmpty(Model.ImageLink) ? "https://via.placeholder.com/200x250" : Model.ImageLink)" alt="" /></div>
            </div>
            <div class="col-md-9">
                <h2>@Model.Title</h2>
                <p>@Model.Description</p>
                <div class="more-btn"><a href="@Url.Action("Index", "AboutMe")">Więcej</a></div>
                <div class="contact-btn"><a href="@Url.Action("Index", "Contact")">Kontakt</a></div>
            </div>
        </div>
    </div>
</div>
