@model PortfolioMVC5v3.Models.ViewModels.CvViewModel
@{
    Layout = "";
}
<html>
<head>
    <title>Damian Dziura Portfolio</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>


        .cv-content {
            height: 100% !important;
            width: 100% !important;
            top: 0 !important;
            bottom: 0 !important;
            color: black;
        }

        .slide img {
            width: 120px;
            height: 120px;
        }

        .bg-primary {
            background-color: #27a9e3 !important;
            min-height: 2px;
        }

        h6 {
            color: #27a2d9;
        }

        html {
            font-family: "DejaVu Sans", "Arial", sans-serif;
            font-size: .68em;
        }

    </style>
</head>
<body>

    <div class="slide">
        <div class="content cv-content">
            <div class="container-fluid py-5">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col text-left">
                            <img src="~/Assets/img/author_image.png" alt="" />
                        </div>
                        <div class="col text-right">
                            @Model.PersonalDataViewModel.Address<br />
                            @string.Format("{0} {1}", Model.PersonalDataViewModel.PostCode, Model.PersonalDataViewModel.City)<br />
                            @string.Format("{0} | {1}", Model.ContactDataViewModel.PhoneNumber, Model.ContactDataViewModel.HomePageLink)<br />
                            @Model.ContactDataViewModel.EmailAddress<br />
                            @Model.ContactDataViewModel.GitHubLink<br />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 text-left bg-primary">
                            <h3 style="color: white;">Damian Dziura</h3>
                        </div>
                    </div>

                    @Html.Partial("_CommercialProjectsPartialView", Model.Projects.Where(p => p.Commercial))

                    <div class="row mt-3">
                        <div class="col-12 text-left bg-primary">
                        </div>
                    </div>

                    @Html.Partial("_NotCommercialProjectsPartialView", Model.Projects.Where(p => p.Commercial == false))

                    <div class="row mt-3">
                        <div class="col-12 text-left bg-primary">
                        </div>
                    </div>

                    @Html.Partial("_TechnologiesPartialView", Model.Technologies)

                    <div class="row mt-3">
                        <div class="col-12 text-left bg-primary">
                        </div>
                    </div>

                    @Html.Partial("_AchievementsPartialView", Model.Achievements)

                    <div class="row mt-3">
                        <div class="col-12 text-left bg-primary">
                        </div>
                    </div>

                    @Html.Partial("_EmploymentHistoriesPartialview", Model.EmploymentHistories)

                    <div class="row mt-3">
                        <div class="col-12 text-left bg-primary">
                        </div>
                    </div>

                    @Html.Partial("_EducationsPartialView", Model.Educations)

                    <div class="row mt-3">
                        <div class="col-12 text-left bg-primary">
                        </div>
                    </div>

                    @Html.Partial("_ExtraInformationPartialView", Model.ExtraInformation)

                    <div class="row mt-3">
                        <div class="col-12 text-left bg-primary">
                        </div>
                    </div>
                    <p>
                        Wyrażam zgodę na przetwarzanie moich danych osobowych w celu rekrutacji zgodnie z art. 6 ust. 1 lit. a Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych)
                    </p>

                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/adminLayout")
    <script>
        kendo.pdf.defineFont({
            "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
            "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
            "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "WebComponentsIcons": "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
        });
    </script>
<script>
    kendo.drawing.drawDOM(".cv-content",
        {
            paperSize: "A4",
            margin: "0cm",
            scale: 0.8
        }).then(function(group) {
            kendo.drawing.pdf.saveAs(group, "Damian Dziura CV.pdf");
    }).done(function() {
        location.href = `/Cv/Index`;
    });
    
    //window.kendo.drawing.drawDOM($(".cv-content"))
    //    .then(function (group) {
    //        return window.kendo.drawing.exportPDF(group, {
    //            paperSize: "A4",
    //            margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" },
    //            scale: 0.5,
    //            multiPage: true
    //        });
    //    })
    //    .done(function (data) {
    //        window.kendo.saveAs({
    //            dataURI: data,
    //            fileName: "Damian Dziura CV.pdf"
    //        });
    //        //location.href = `/Cv/Index`;
    //    });
</script>
</body>
</html>