@model System.Collections.Generic.List<PortfolioMVC5v3.Models.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "Projekty";
}

@section AdditionalCss
{
    <style>
        .slide {
            background: linear-gradient(0, rgba(40, 38, 43, 0.85), rgba(40, 38, 43, 0.85)), url(/assets/backgrounds/fourth-bg.png) no-repeat center center fixed !important;
            background-size: cover;
        }
    </style>
}

<div class="slide">
    <div class="content projects-content">
        <div class="container-fluid">
            <div class="col-md-12">
                @{
                    int i = 0;
                    foreach (var project in Model)
                    {

                        var iconSrc = "/Assets/img/Icons/Placeholder.png";
                        if (project.Icon?.IconId > 0)
                        {
                            iconSrc = $"/Assets/Icons/{project.Icon.Guid}{project.Icon.FileName}";
                        }


                        <div>
                            <div class="row mb-5">
                                @if (i % 2 == 0)
                                {
                                    <div class="col-md-2">
                                        <div class="left-image">
                                            <img src="@iconSrc" alt="projectIcon" />
                                        </div>
                                    </div>
                                }

                                <div class="col-md-10">
                                    <div class="left-content @(i%2 == 0 ? "right-content" : "left-content")">
                                        <h2 class="mb-1">@project.Title</h2>
                                        @if (project.Technologies?.Count > 0)
                                        {
                                            <div style="color:white" class="mb-1">
                                                <b class="mr-2">Technologie:</b> <em>@string.Join(", ", project.Technologies.Take(3).Select(a => a.Name))...</em>
                                            </div>
                                        }
                                        <p>
                                            @project.ShortDescription
                                        </p>
                                        <div class="details-btn">
                                            <a href="@Url.Action("Card", "Project", new { id = project.ProjectId})">Szczegóły</a>
                                        </div>
                                    </div>
                                </div>

                                @if (i % 2 != 0)
                                {
                                    <div class="col-md-2">
                                        <div class="right-image">
                                            <img src="@iconSrc" alt="ProjectIcon" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        i++;
                    }
                }
            </div>
        </div>
    </div>
</div>
