@model PortfolioMVC5v3.Models.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Karta projektu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section AdditionalCss
{
}

@Html.HiddenFor(m => m.ProjectId)

<div class="row h-100">
    <div class="col-12">
        <div class="card" style="height: 90%">
            <div class="card-body d-flex flex-column">
                <h2 class="card-title">Karta projektu</h2>

                <div class="row mt-3">
                    <div class="col-12 mb-2">
                        <h5>Opcje główne:</h5>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="Title">Tytuł</label>
                            <input id="Title" name="Title" type="text" class="k-textbox w-100" placeholder="Tytuł" value="@Model.Title" />
                            <small id="TitleHint" class="form-text text-muted">Pełen tytuł projektu</small>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="GitHubLink">Link github</label>
                            <input id="GitHubLink" name="GitHubLink" type="text" class="k-textbox w-100" placeholder="Github" value="@Model.GitHubLink" />
                            <small id="GitHubLinkHint" class="form-text text-muted">Link do projektu na github</small>
                        </div>
                    </div>

                    <div class="col-6 ">
                        <div class="form-group">
                            <label for="DateTimeCreated">Data utworzenia</label>
                            <input id="DateTimeCreated" name="DateTimeCreated" class="w-100" value="@Model.DateTimeCreated" />
                            <small id="DateTimeCreatedHint" class="form-text text-muted">Data utworzenia projektu</small>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-2">
                    <div class="col-12 ">
                        <div class="form-group">
                            <label for="Technologies">Technologie</label>
                            <input id="Technologies" name="Technologies" />
                            <small id="TechnologiesHint" class="form-text text-muted">Technologie wykorzystane w projekcie</small>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="ShortDescription">Krótki opis</label>
                            <textarea id="ShortDescription" name="ShortDescription" class="k-textbox w-100 p-2" rows="4">@Model.ShortDescription</textarea>
                            <small id="ShortDescriptionHint" class="form-text text-muted">Skrócony opis projektu wyświetlany na podsumowaniu oraz w cv</small>
                        </div>
                    </div>
                    
                    <div class="col-8">
                        <div class="form-group">
                            <label for="FullDescription">Pełen opis</label>
                            <textarea id="FullDescription" name="FullDescription" class="k-textbox w-100 p-2" rows="4">@Model.FullDescription</textarea>
                            <small id="FullDescriptionHint" class="form-text text-muted">Pełen opis projektu wyświetlany na karcie projektu</small>
                        </div>
                    </div>
                </div>
           
                <div class="row mt-2">
                    <div class="col-12 mb-2">
                        <h5>Opcje dodatkowe:</h5>
                    </div>
                    <div class="col-4 pl-4">
                        <table>
                            <tr>
                                <th class="py-2"><input id="ShowInCv" /></th>
                                <th class="py-2"><label for="ShowInCv" class="ml-3 pt-2">Pokazuj w CV</label></th>
                            </tr>
                            <tr>
                                <th class="py-2"><input id="Commercial" /></th>
                                <th class="py-2"><label for="Commercial" class="ml-3 pt-2">Projekt komercyjny</label></th>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="col-8">
                  
                    </div>

                </div>

                <div class="row mt-auto">
                    <div class="col">
                        <button type="button" name="SaveBtn" id="SaveBtn" class="btn btn-success float-right">
                            <i class="fas fa-save mr-2"></i> Zapisz zmiany
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        var showInCv = @Html.Raw(Json.Encode(@Model.ShowInCv));
        var commercial = @Html.Raw(Json.Encode(@Model.Commercial));
        var technologies = @Html.Raw(Json.Encode(@Model.Technologies));
    </script>

    <script src="~/Scripts/admin/ProjectManagement/Card.js"></script>
}
