@model PortfolioMVC5v3.Models.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Karta projektu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section AdditionalCss
{
    <link href="~/Content/file-upload-with-preview.min.css" rel="stylesheet" />
    <style>
        #listView {
            padding: 10px 5px;
            margin-bottom: -1px;
            min-height: 510px;
            font: inherit;
        }
        .projectIcon {
            float: left;
            position: relative;
            width: 111px;
            height: 170px;
            margin: 0 5px;
            padding: 0;
        }
        .projectIcon img {
            width: 110px;
            height: 110px;
        }
        .projectIcon h3 {
            margin: 0;
            padding: 3px 5px 0 0;
            max-width: 96px;
            overflow: hidden;
            line-height: 1.1em;
            font-size: .9em;
            font-weight: normal;
            text-transform: uppercase;
            color: #999;
        }
        .projectIcon p {
            visibility: hidden;
        }
        .projectIcon:hover p {
            visibility: visible;
            position: absolute;
            width: 110px;
            height: 110px;
            top: 0;
            margin: 0;
            padding: 0;
            line-height: 110px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: #000000;
            background-color: rgba(0,0,0,0.75);
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
            transition: background .2s linear, color .2s linear;
        }

        .k-listview:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    </style>
}

@Html.HiddenFor(m => m.ProjectId)
@Html.HiddenFor(m => m.IconId)
@Html.HiddenFor(m => m.AuthorId)

<div class="row h-100">
    <div class="col-12">
        <div class="card" style="height: 90%">
            <div class="card-body d-flex flex-column">
                <h2 class="card-title">Karta projektu</h2>

                <div class="row mt-3">
                    <div class="col-12 mb-2">
                        <h5>Opcje główne:</h5>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="Title">Tytuł</label>
                            <input id="Title" name="Title" type="text" class="k-textbox w-100" placeholder="Tytuł" value="@Model.Title" />
                            <small id="TitleHint" class="form-text text-muted">Pełen tytuł projektu</small>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="GitHubLink">Link github</label>
                            <input id="GitHubLink" name="GitHubLink" type="text" class="k-textbox w-100" placeholder="Github" value="@Model.GitHubLink" />
                            <small id="GitHubLinkHint" class="form-text text-muted">Link do projektu na github</small>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-6 ">
                        <div class="form-group">
                            <label for="Technologies">Technologie</label>
                            <input id="Technologies" name="Technologies" />
                            <small id="TechnologiesHint" class="form-text text-muted">Technologie wykorzystane w projekcie</small>
                        </div>
                    </div>
                    <div class="col-6 ">
                        <div class="form-group">
                            <label for="DateTimeCreated">Data utworzenia</label>
                            <input id="DateTimeCreated" name="DateTimeCreated" class="w-100" value="@Model.DateTimeCreated" />
                            <small id="DateTimeCreatedHint" class="form-text text-muted">Data utworzenia projektu</small>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-6">
                        <div class="row p-0 m-0">
                            <div class="col-12 p-0 m-0">
                                <div class="form-group">
                                    <label for="ShortDescription">Krótki opis</label>
                                    <textarea id="ShortDescription" name="ShortDescription" class="k-textbox w-100 p-2" rows="6">@Model.ShortDescription</textarea>
                                    <small id="ShortDescriptionHint" class="form-text text-muted">Skrócony opis projektu wyświetlany na podsumowaniu oraz w cv</small>
                                </div>
                            </div>
                        </div>
                        <div class="row p-0 m-0">
                            <div class="col-6 p-0 m-0">
                                <h5>Opcje dodatkowe:</h5>


                                <table>
                                    <tr>
                                        <th class="py-2">
                                            <button type="button" id="SelectIcon" class="btn btn-primary" data-toggle="modal" data-target="#SelectIconModal">
                                                <i class="far fa-window-restore mr-2" style="width: 30px"></i>Wybierz
                                            </button>
                                        </th>
                                        <th class="py-2"><label for="AddScreenShots" class="ml-3 pt-2">Ikona projektu</label></th>
                                    </tr>
                                    <tr>
                                        <th class="py-2">
                                            <button type="button" id="AddScreenShots" class="btn btn-primary" data-toggle="modal" data-target="#ScreenShotsModal">
                                                <i class="far fa-window-restore mr-2" style="width: 35px"></i>Otwórz
                                            </button>
                                        </th>
                                        <th class="py-2"><label for="AddScreenShots" class="ml-3 pt-2">Dodaj zrzuty ekranu</label></th>
                                    </tr>
                                    <tr>
                                        <th class="py-2"><input id="ShowInCv" /></th>
                                        <th class="py-2"><label for="ShowInCv" class="ml-3 pt-2">Pokazuj w CV</label></th>
                                    </tr>
                                    <tr>
                                        <th class="py-2"><input id="Commercial" /></th>
                                        <th class="py-2"><label for="Commercial" class="ml-3 pt-2">Projekt komercyjny</label></th>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-6 p-0 m-0">
                                <h5>Ikona projektu:</h5>

                                <div id="ProjectIcon">
                                    @{
                                        var iconSrc = "/Assets/img/Icons/Placeholder.png";
                                        if (Model.Icon != null && Model.Icon.IconId > 0)
                                        {
                                            iconSrc = string.Format(@"/Assets/Icons/{0}{1}", Model.Icon.Guid, Model.Icon.FileName);
                                        }
                                    }
                                    <img id="ProjectIconPreview" src="@iconSrc" height="200" width="200" data-toggle="modal" data-target="#SelectIconModal" alt="ProjectIconPreview"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="FullDescription">Pełen opis</label>
                            <textarea id="FullDescription" name="FullDescription" class="k-textbox w-100 p-2" rows="18">@Model.FullDescription</textarea>
                            <small id="FullDescriptionHint" class="form-text text-muted">Pełen opis projektu wyświetlany na karcie projektu</small>
                        </div>
                    </div>
                </div>

                <div class="row mt-auto" style="margin-bottom: 5%;">
                    <div class="col">
                        <button type="button" name="SaveBtn" id="SaveBtn" class="btn btn-success float-right">
                            <i class="fas fa-save mr-2"></i>
                            @if (Model.ProjectId > 0)
                            {
                                @: Zapisz zmiany
                            }
                            else
                            {
                                @: Utwórz projekt
                            }
                        </button>

                        <button type="button" name="SaveAsTempBtn" id="SaveAsTempBtn" class="btn btn-secondary float-right mr-2">
                            <i class="fas fa-save mr-2"></i>
                            @if (Model.ProjectId == 0)
                            {
                                @: Zapisz jako tymczasowy
                            }
                            else
                            {
                                if (Model.TempProject)
                                {
                                    @: Zapisz zmiany i dodaj do portfolio
                                }
                                else
                                {
                                    @: Zapisz zmiany i przenieś do tymczasowych
                                }
                            }
                        </button>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="ScreenShotsModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" style="min-height: 500px">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Zrzuty ekranu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="custom-file-container" data-upload-id="myUniqueUploadId">
                    <button class="btn btn-sm btn-danger custom-file-container__image-clear">Wyczyść pliki</button>

                    <label class="custom-file-container__custom-file mb-2">
                        <input type="file" class="custom-file-container__custom-file__custom-file-input" accept="image/*" multiple aria-label="Wybierz plik">
                        <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                        <span class="custom-file-container__custom-file__custom-file-control"></span>
                    </label>

                    <label>Podgląd plików:</label>
                    <div class="custom-file-container__image-preview py-0 my-0"></div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
            </div>

        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="template">
    <div class="projectIcon">
        <img src="/Assets/Icons/#= Guid ##= FileName #" alt="icon" />
        <p class="projectIconP" data-id="#=IconId#" data-src="/Assets/Icons/#= Guid ##= FileName #"> Wybierz</p>
    </div>
</script>

<div class="modal" id="SelectIconModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" style="min-height: 500px">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Wybierz ikone projektu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="demo-section k-content wide">
                    <div id="listView"></div>
                    <div id="pager" class="k-pager-wrap"></div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/file-upload-with-preview.min.js"></script>

    <script>

        var showInCv = @Html.Raw(Json.Encode(@Model.ShowInCv));
        var commercial = @Html.Raw(Json.Encode(@Model.Commercial));
        var isTemp = @Html.Raw(Json.Encode(@Model.TempProject));
        var technologies = @Html.Raw(Json.Encode(@Model.Technologies));

        var images = @Html.Raw(Json.Encode(@Model.Images));
        var imagesArray = [];

        if (images !== null && images.length > 0) {
            images.forEach((i) => {
                window.imagesArray.push(`\\Assets\\ScreenShoots\\${i.Guid}${i.FileName}`);
            });
        }
    </script>

    <script>
        var upload = new FileUploadWithPreview('myUniqueUploadId', {
            showDeleteButtonOnImages: true,
            text: {
                chooseFile: '',
                browse: 'Wybierz pliki',
                selectedCount: 'wybrane pliki'
            },
            presetFiles: window.imagesArray
        })
    </script>
    <script src="~/Scripts/admin/ProjectManagement/Card.js"></script>
}
